{% extends "base.html" %}
{% block body %}.
<div class="hero-unit">
  <h1>Mrs. Coleman's Blog Archives</h1>
</div>
<div class="container">
  {% for post in posts %}
    <div class="well">
      <h3><a href="/{{ post.date_posted.strftime('%Y/%m/%d') }}/{{post.url}}">{{ post.title}}</a></h3>
      {{post.summary}}
    </div>
  {% endfor %}
 </div>
 <div class="container">
 	{% if pageNumber > 1 %}
 		<a href="/archives/{{ pageNumber - 1 }}" class="btn btn-large">Previous</a>
 	{% endif %}
 	{% if has_next %}
 		<a href="/archives/{{ pageNumber + 1 }}" class="btn btn-large">Next</a>
 	{% endif %}
 </div>
{% endblock %}